.success-message {
    margin-bottom: 10px;
    border-color: #00a26c;
    background-color: #CAFECC;
    color: #01393b;
    display: flex;
    box-sizing: border-box;
    padding: 8px;
    border-width: 1px;
    border-style: solid;
  }